h1 {
  text-align: center;
}

ul {
  background-color: lightblue;
}

h2 {
  display: inline;
}

form.delete-form {
  display: inline;
}

form.add-update {
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

form.add-update > label {
  display: block;
}

form.add-update > button,
a.home,
a#add-button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

a.home,
a#add-button {
  margin-top: 20px;
  width: 100px;
}

a,
button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #e2e2e2;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 0.5em;
  cursor: pointer;
}

a:hover,
button:hover {
  background-color: #f2ffff;
}
